body{
    margin: 0px;
    padding: 0px;
    background-color: #e7bcd9;
}
.header{
    background-color: #824c71;
    color: #ffffff;
}
.header h1,.header h3{
    margin: 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background-color: #4A2545;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar ul li{
    text-align: center;
    display: inline-block;
    width:80px;
    height:25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar ul li a{
    color: #ffffff;
}

.navbar ul li:hover{
    background-color: #bf9bb4;
}

button{
    font-size: 16px;
    background-color: #4A2545;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px;
    border: none;
}

button:hover{
    background-color: #824c71;
    box-shadow: 5px 5px 20px gray;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

table{
    margin: 10px;
}

th,td,tr{
    border: 2px solid black;
}

th{
    background-color: #4A2545;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
tr:nth-child(even){
    background-color: #cf97bd;
}
tr:nth-child(odd){
    background-color: #e7bcd9;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-item{
    background-color: #824C71;
    color:white;
    border-radius: 5px;
    margin: 10px;
    padding: 7px;
}
.img-inline{
    display: inline-block;
}

h2{
    text-align: center;
}

@media screen and (max-width:768px){
    .img-inline{
        display: block;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
    }
    .navbar ul li{
        display: block;
    }
    .navbar ul li:hover{
        background-color: #bf9bb4;
    }
}